@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    background: #131415;
}
